<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Kontakt
                <small>Wir würden uns freuen von Ihnen zu hören.</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">zurück</a></li>
                <li class="active">Kontakt</li>
            </ol>
        </div>

        <div class="col-lg-12">
          <div id="map" style="max-width: 100%; height: 300px;"><script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmGInPvS0-clGyEP1Eukc6nZhW0TVckUY&callback=initMap" async defer></script></div>

        </div>

    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-sm-8">
            <h3>So können Sie uns erreichen!</h3>

            <p>WohnBauKunst GmbH</p>

            <form role="form" method="POST" action="#">
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="input1">Name</label>
                        <input type="text" name="contact_name" class="form-control" id="input1">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="input2">Email Addresse</label>
                        <input type="email" name="contact_email" class="form-control" id="input2">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="input3">Telephon Nummer</label>
                        <input type="phone" name="contact_phone" class="form-control" id="input3">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-lg-12">
                        <label for="input4">Nachricht</label>
                        <textarea name="contact_message" class="form-control" rows="6" id="input4"></textarea>
                    </div>
                    <div class="form-group col-lg-12">
                        <input type="hidden" name="save" value="contact">
                        <button type="submit" class="btn btn-primary">Senden</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-4">
            <h3>WohnBauKunst GmbH</h3>
            <h4>Für eine Zukunft im neuen Haus</h4>

            <p>
              Hüttenstraße 1<br>
              93142 Maxhütte-Haidhof<br>
            </p>

            <p><i class="fa fa-phone"></i> <abbr title="Phone">Telephon</abbr>: 09471 305 027 1<br>
            <abbr title="Phone">Handy</abbr>: 0152 317 535 36
</p>

            <p><i class="fa fa-envelope-o"></i> <abbr title="Email">Email</abbr>: <a
                    href="mailto:kontakt@wohnbaukunst.de">kontakt@wohnbaukunst.de</a></p>

            <p><i class="fa fa-clock-o"></i> <abbr title="Hours">Oeffnungszeiten </abbr>: Montag - Freitag: 9:00 to 17:00 Uhr</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-page" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a></li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-company-page" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a></li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a></li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-page" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a></li>
            </ul>
        </div>

    </div>
    <!-- /.row -->

</div><!-- /.container -->
