<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">FAQ
                <small>Brennende Fragen</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">zurück</a>
                </li>
                <li class="active">FAQ</li>
            </ol>
        </div>

    </div>

    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a href="javascript:;" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
              Stellen Sie Fertigstellungsbürgschaften aus?
            </a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
            Diese erhalten Sie automatisch von uns vor Abruf der ersten Abschlagszahlung.
          </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#collapse2">
              Ich habe noch weitere Fragen. An wen kann ich mich wenden?
            </a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
            Ganz gleich ob zur Bemusterung, Finanzierung, vor, während oder nach der
            Bauphase, wir sind Ihr persönlicher Ansprechpartner. Bei uns bekommen Sie
            alles aus einer Hand.
          </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#collapse3">
              Ist mein Geld bei Ihnen in guten Händen?
            </a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
            Zu Ihrem Schutz richten wir für jedes Projekt ein Treuhandkonto ein. So ist sichergestellt, dass Ihre Zahlungen ausschließlich für Ihr Bauvorhaben verwendet werden.
          </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#collapse4">
              Woher weiß ich, wann eine Abschlagszahlung fällig ist und ob die
              Leistung auch erbracht wurde?
            </a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">
            Die Bauleitung und Überwachung der Handwerker erfolgt durch das
            Architekturbüro Weinmann. Erst wenn dieses die Rechnung der ausführenden
            Betriebe überprüft und zur Zahlung freigegeben hat, fordern wir von Ihnen
            die nächste Abschlagszahlung an.
          </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#collapse5">
              Kann ich zur Endabnahme meiner Eigentumswohnung jemanden
              mitbringen?
            </a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body">
            Selbstverständlich. Als zusätzliche Sicherheit lassen wir die Endabnahme durch einen externen Gutachter (z.B. TÜV, Dekra, Bauherrenschutzbund) begleiten.
          </div>
    </div>
  </div>
</div>
