<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Preis Kategorien
                <small>Guggst du hier</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">zurück</a>
                </li>
                <li class="active">Preis Kategorien</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>Einsteiger</strong>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title price">&#x20ac 89,999
                        <span class="price-cents">95</span>
                        <span class="price-month"></span>
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">55 &#x33a1 </li>
                    <li class="list-group-item">50 &#x33a1 Lebensraum</li>
                    <li class="list-group-item">bis zu 100 Katzen</li>
                    <li class="list-group-item">internet</li>
                    <li class="list-group-item">Haengematte</li>
                    <li class="list-group-item"><a class="btn btn-primary">Sign Up Now!</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>Plus</strong>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title price">&#x20ac 129,999
                        <span class="price-cents">95</span>
                        <span class="price-month"></span>
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">70 &#x33a1</li>
                    <li class="list-group-item">65 &#x33a1 of Storage</li>
                    <li class="list-group-item">Up to 250 katzen</li>
                    <li class="list-group-item">25 GB Bandwidth</li>
                    <li class="list-group-item">Security Suite</li>
                    <li class="list-group-item"><a class="btn btn-primary">Sign Up Now!</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>Premium <span class="label label-success">Best Value!</span></strong>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title price">&#x20ac 219,999
                        <span class="price-cents">95</span>
                        <span class="price-month"></span>
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Unlimited</li>
                    <li class="list-group-item">50 GB of Storage</li>
                    <li class="list-group-item">Up to 1000 Users</li>
                    <li class="list-group-item">Internet und Solar Anlage</li>
                    <li class="list-group-item">Security Suite</li>
                    <li class="list-group-item"><a class="btn btn-primary">Sign Up Now!</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>Ultimate</strong>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title price">&#x20ac 249,999
                        <span class="price-cents">95</span>
                        <span class="price-month"></span>
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">100 &#x33a1</li>
                    <li class="list-group-item">150 &#x33a1 mit Garten</li>
                    <li class="list-group-item">suitable for Grossfamilie</li>
                    <li class="list-group-item">Garage</li>
                    <li class="list-group-item">Security Suite</li>
                    <li class="list-group-item"><a class="btn btn-primary">Sign Up Now!</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>
<!-- /.container -->
