<div id="footerStart"></div>
		<footer class="footer-distributed" id="footer">
			<div class="footer-left">
				<h3><img src="css/public/images/logo.jpg" alt="logo" width="100px"></ima><span>Wohnbaukunst</span></h3>

			</div>

			<div class="footer-center">
				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Hüttenstr. 1</span> 93142 Maxhütte-Haidhof</p>
				</div>
				<div>
					<i class="fa fa-phone"></i>
					<p>Telefonnummer: 09471 305 027 1</p>
				</div>
				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@generalassemb.ly">kontakt@wohnbaukunst.de</a></p>
				</div>
			</div>

			<div class="footer-right">
				<p class="footer-company-about">
					<h4><span>Über Wohnbaukunst</span></h4>
					Ein Modernes Unternehmen im 21. JahrhundertWir sind eine Bauträgergesellschaft aus Maxhütte-Haidhof und stehen für Verlässlichkeit und Partnerschaft.
				</p>
				<div class="footer-icons">
					<a href="http://facebook.com"><i class="fa fa-facebook"></i></a>
					<a href="http://twitter.com"><i class="fa fa-twitter"></i></a>
					<a href="http://linkedin.com"><i class="fa fa-linkedin"></i></a>
				</div>


			</div>
			<p class="footer-company-name">Thomas Langnickel &copy; 2016</p>

		</footer>
